body {
    overflow-y: scroll !important;
    
    &.loaded {
        overflow: auto !important;
        overflow-x: hidden !important;
    }


}


body.ltr {
    &.mmenu-active .page-wrapper {
        transform: translate(200px);
    }
}

body.rtl {
    &.mmenu-active .page-wrapper {
        transform: translate(-200px);
    }
}